.idea/
.vscode/
node_modules/
coverage/
dist/
.npmrc
.yarnrc
packages/*/index.js
packages/*/index.js.map
packages/*/index.d.ts

# Documentation
docs/node_modules
docs/.vitepress/dist
docs/.vitepress/cache
